h1 {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 3em;
  color: rgb(83, 83, 83);
}
#btn {
  width: 300px;
  height: 60px;
}
#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 500px;
  height: 500px;
  margin: 25px auto 0;
  box-shadow: 0 0 30px #4d4d4d;
}
#btn-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.buttons {
  background-color: #fff;
  font-family: "Shadows Into Light", cursive;
  width: 32%;
  height: 100%;
  font-size: 2em;
}

.buttons:focus {
  outline: none;
  background-color: rgb(231, 231, 231);
  border-style: outset;
}
.buttons:active {
  background-color: rgb(231, 231, 231);
  border-style: inset;
}

.squares {
  background-color: rgb(255, 255, 255);
}
